<div class="header">
    <h3>Popular Home</h3>
</div>
 <div class="container">
   <!-- <p>Opps, Something Went Wrong...</p> -->
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <div class="col-sm-6">
                <div class="card btn bg-dark"  (click)="openMovies()">
                    <img src="assets/icon/movie.png">
                    <h5>MOVIES</h5>
                  </div>
            </div>
            <div class="col-sm-6">
                <div class="card btn bg-dark" (click)="openSeries()">
                    <img src="assets/icon/movie.png">
                    <h5>SERIES</h5>
                </div>
            </div>     
        </div>
        <div class="col-sm-3">
            
        </div>
    </div>
</div>
 